<h1>Hey!! Welcome in Signup</h1>
<section >
    <div class="signup">
    <span class="title">Sign up Here</span>
    <form class="signup-form" method="POST">
    <input class="inputUserName" type="text" name="username" placeholder="username" required autocomplete="off">
    <input class="inputPassword" type="password" name="password" placeholder="password" required autocomplete="off">
    <input class="inputConfirmPassword" type="password" name="confirmPassword" placeholder="confirmPassword" required autocomplete="off">
    <span class="msg"><h2>{{msg}}</h2></span>
    <input type="submit" name="submit" value="create" class="submit-btn">
</form>
</div>
</section> 