<h1>Hey!! Welcome Eng Alaa in Signup</h1>
<section >
    <div class="signup">
    <span class="title">إنشاء حساب جديد</span>
    <form class="signup-form">
    <input class="input" type="text" name="firstname" placeholder="اسم المستخدم" required autocomplete="off">
    <input class="input" type="password" name="password" placeholder="كلمة المرور" required autocomplete="off">
    <input class="input" type="password" name="confirmPassword" placeholder="تأكيد كلمة المرور" required autocomplete="off">
    <span class="msg">{{msg}}</span>
    <input type="submit" name="submit" value="أنشئ" class="submit-btn">
</form>
</div>
</section> 