  <nav class="nav">
      {{!-- <div class="logo"><img src="logo.svg" alt="logo" srcset=""></div> --}}
         <button class="logOut" >logOut</button>
         <button   class="main">The Main</button>
         <button  class="myPage">My Answer</button>  
         <span class="hellow">WellCome{{userName}}</span>
</nav>