<nav>
    <div class="nav_content">
        <div class="logo"><img src="logo.svg" alt="logo"></div>
        <div class="msg_nav">اسالي عن حقوقك والمستشار يجيب</div>
        <form class="form_login" action="/login" method="POST">
            <label for="username">
                <input type="text" name="username" id="username" placeholder="اسم المستخدم" required>
            </label>
            <label for="password">
                <input type="text" name="password" id="password" placeholder="كلمة السر" required>
            </label>
          <button type="submit" name="submit">دخول</button>  

        </form>
    </div>
</nav>
