<section>
    <div class="container">
        <div class="title">
            <h2>Rights of the women</h2>
        </div>
        {{#each}}
        <div class="allRights">
            
            {{resultRights}}
            
        </div>
        {{/each}}
    </div>
</section>