<section>
    <div class="container">
        <div class="titleContent">
            <div class="titleCons">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
            
            </div>
            <div class="subjectCons">
                <label for="subject">Subject</label>
                <textarea name="subject" id="subject" cols="30" rows="10">
                    
                </textarea>
                
            </div>
            <input type="submit" name="submit" id="btnSubmit" value="send">
            <div class="msg">{{msg}}</div>
        </div>

    </div>
</section>